<section class="w-full my-auto">
  <div class="w-full max-w-7xl mx-auto px-6 py-6">
    <div class="w-fit mx-auto text-center flex flex-col gap-4 md:gap-8">
      <img [src]="image" alt="warning" width="585" height="615" class="w-44 mx-auto" />
      <h1 class="text-3xl font-bold">Laman Tidak Ditemukan</h1>
      <p class="font-light text-slate-400 dark:text-slate-500 text-center">
        Maaf, laman yang kamu cari tidak tersedia.<br />
        Silakan kembali ke beranda.
      </p>
      <a href="/" class="inline-block px-4 py-3 rounded-lg font-bold text-white bg-red-500 lg:hover:bg-red-600 shadow-xl transition mx-auto mt-4">
        Kembali ke Beranda
      </a>
    </div>
  </div>
</section>