<section class="w-full my-auto">
  <div class="w-full max-w-7xl mx-auto px-6 py-6">
    <div class="w-fit mx-auto text-center flex flex-col gap-4">
      <img [src]="warningImg" alt="warning" width="585" height="615" class="w-44 mx-auto" />
      <h1 class="text-3xl font-bold">Page not found</h1>
      <p class="font-light text-zinc-400 text-center">
        Sorry, this page is nothing. Please go to home.
      </p>
      <a href="/" class="inline-block px-6 py-4 rounded-full text-white bg-red-500 lg:hover:bg-red-600 shadow-xl transition mx-auto mt-4">
        Back to Home
      </a>
    </div>
  </div>
</section>