<div (mouseenter)="showPopover()" (mouseleave)="hidePopover()">
  <ng-content></ng-content>
  <div
    *ngIf="isVisible"
    class="absolute bg-black text-white px-4 py-3 text-center text-xs rounded-xl z-10 pointer-events-none transition-opacity transform -translate-x-1/2 -translate-y-1/2 max-w-[200px] break-word after:content-[''] after:absolute after:-top-3.5 after:left-1/2 after:transform after:-translate-x-1/2 after:w-0 after:h-0 after:border-8 after:border-t-transparent after:border-x-transparent after:border-b-black"
    [style.opacity]="isInit ? 0 : 1"
    [style.top.px]="position.y"
    [style.left.px]="position.x"
  >
    <ng-content select="[content]"></ng-content>
  </div>
</div>