<section class="w-full my-auto">
  <div class="w-full max-w-7xl mx-auto px-6 py-6">
    <div class="w-fit mx-auto text-center">
      <img [src]="image" alt="robot" width="300" height="300" class="object-contain animate-float mx-auto" />
      <div class="max-w-sm mx-auto">
        <p class="dark:text-slate-500">Temukan beragam aplikasi keren untuk mendukung produktivitasmu seharian hanya di</p>
        <h1 class="text-3xl font-bold my-4">{{ brand }}</h1>
      </div>
    </div>
  </div>
</section>